include:
- project: tq-em/build/docker/toolchain
  file: ci/apps.yml
  ref: v8.2.0_tc8.1.0

Lint:
  extends: .go-lint

Code Generation:
  extends: .go-generate-code

Unit tests:
  extends: .go-unit-tests

Gitleaks:
  extends: .gitleaks
