include:
- project: tq-em/build/docker/toolchain-ci
  file: template-ci.yml
  ref: v7.2.1_tc7.5.0

Lint:
  extends: .go-lint

Code Generation:
  extends: .go-generate-code

Unit tests:
  extends: .go-unit-tests

Gitleaks:
  extends: .gitleaks
